<div class="nested-fields">
    <%= f.association :product, collection: Product.all.order(:price).map{ |product| ["$#{product.price} | " + product.name]  }, prompt: "Choose a Company" %>
    
    <%= f.input :quantity, label: 'Items quantity'%>

    <div>
    <%= link_to_remove_association "remove item", f, class:'btn btn-danger' %>
    </div>

</div>