<div class="nested-fields">
    <%= f.association :product %>
    <%= f.input :quantity, label: 'Items quantity'%>

    <div>
        
    </div>

    <%= link_to_remove_association "remove task", f %>
</div>