.adm-button{
    text-decoration: none;
    border-radius: 20px;
}
.adm-button:hover{
    opacity: 0.8;
}

.orders-card{
    height: 300px;
}

.order-card-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}