.adm-button{
    text-decoration: none;
    border-radius: 20px;
}
.adm-button:hover{
    opacity: 0.8;
}

.orders-card{
    height: 300px;
}

.items-card{
    height: 175px;
}

.order-card-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bi-plus-square-fill{
    color: green;
}
.bi-dash-square-fill{
    color: red;
}

#total-order-price{
    width: 150px;
}